@charset "UTF-8";

* {
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding: 15px 4% 10px;
  background-color: #99FFFF;
  top: 0;
  display: flex;
  align-items: center;
}

.navi > ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.navi li{
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}


